.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.body {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-link {
  width: 134px;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .mobile-menu-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .burger-connection {
    padding-top: 102px;
  }
  .social-burger {
    display: flex;
    padding-top: 32px;
  }
  .connection-burger {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .connection-burger-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .connection-menu {
    padding-top: 6px;
  }
  .social-web {
    color: #2196f3;
    padding-right: 20px;
  }
  .navigation-list {
    display: none;
  }
  .connection-list {
    display: none;
  }
  .burger-btn,
  .mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .mobile-menu-close-btn {
    right: 15px;
    position: absolute;
    top: 10px;
  }
  .mobile-menu-close-icon {
    width: 40px;
    height: 40px;
  }
  .burger-icon {
    width: 40px;
    height: 40px;
  }
  .header {
    margin-top: 24px;
    width: 100%;
    margin-bottom: 25px;
  }
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    background-color: bisque;
    padding: 48px 40px;
    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms linear;
  }
  .is-open {
    transform: translateY(0%) translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .nav {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  .devise-icon {
    width: 14px;
    height: 10px;
  }
  .current {
    position: relative;
    color: #2196f3;
  }
  .current::after {
    position: absolute;
    content: '';
    display: inline;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    transform: translateX(-100%);
    bottom: 0;
  }
  .devise-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 16px;
  }
  .connection-list {
    margin-left: 84px;
    display: flex;
    align-items: center;
  }
  .connection-item:not(:last-child) {
    margin-right: 50px;
  }
  .connection {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .connection:hover,
  .connection:focus {
    color: #2196f3;
  }
  .nav:hover,
  .nav:focus {
    color: #2196f3;
  }
  .connection-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .nav {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  .devise-icon {
    width: 14px;
    height: 10px;
  }
  .current {
    position: relative;
    color: #2196f3;
  }
  .current::after {
    position: absolute;
    content: '';
    display: inline;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    transform: translateX(-100%);
    bottom: 0;
  }
  .devise-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 16px;
  }
  .connection-list {
    margin-left: 84px;
    display: flex;
    align-items: center;
  }
  .connection-item:not(:last-child) {
    margin-right: 50px;
  }
  .connection {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .connection:hover,
  .connection:focus {
    color: #2196f3;
  }
  .nav:hover,
  .nav:focus {
    color: #2196f3;
  }
}

.img-work {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 480px) {
  .modal-close-btn {
    background-color: transparent;
    background-size: 0%;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50%;
  }
  .button {
    border-radius: 5px;
    margin-right: 500px;
    min-width: 200px;
    margin-left: 50px;
    padding: 10px 32px;
    display: block;
    margin: 0 auto;
    background-color: #2196f3;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .modal-close-btn {
    background-color: transparent;
    background-size: 0%;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50%;
  }
  .button {
    border-radius: 5px;
    margin-right: 500px;
    min-width: 200px;
    margin-left: 500px;
    padding: 10px 32px;
    display: block;
    margin: 0 auto;
    background-color: #2196f3;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

.img {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.img {
  position: relative;
}

.mobil {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 27px;
  margin-top: 224px;
  text-align: center;
  width: 370px;
  background-color: rgba(47, 48, 59, 0.8);
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.frontend {
  padding-top: 10px;
  padding-left: 62px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0, 84;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-list-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-bottom: 30px;
}

.social-list-item-1 {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.social-list-link-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-team:hover,
.icon-team:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.icon-team {
  width: 25px;
  height: 25px;
  align-items: center;
  fill: #AFB1B8;
  margin-left: 32px;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .img-team {
    width: 450px;
    margin: 0 auto;
  }
  .team {
    margin: 0 auto;
    padding-top: 30px;
  }
  .name {
    text-align: center;
    padding-top: 30px;
    padding-left: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 1875;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .work {
    text-align: center;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .frontend {
    text-align: center;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .name-team {
    background-color: #ffffff;
    margin-right: 30px;
    margin-left: -30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .img-team {
    width: 450px;
    margin: 0 auto;
  }
  .team {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
  }
  .name {
    text-align: center;
    padding-top: 30px;
    padding-left: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 1875;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .work {
    text-align: center;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .frontend {
    text-align: center;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .name-team {
    width: 450px;
    background-color: #ffffff;
    margin-right: 30px;
    margin-left: -30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 1200px) {
  .img-team {
    width: 254px;
    margin: 0 auto;
  }
  .team {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .name {
    text-align: center;
    padding-top: 30px;
    padding-left: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 1875;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .work {
    text-align: center;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .frontend {
    text-align: center;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .name-team {
    width: 254px;
    background-color: #ffffff;
    margin-right: 30px;
    margin-left: -30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.img-team {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .social-list-1 {
    margin: 0 auto;
  }
  .social-list-item-1 {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .heading-title {
    padding-bottom: 30px;
    padding-top: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 360px;
    max-height: 86px;
  }
  .hero {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .heading {
    background-image: url("../images/background/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2f303a;
    padding-bottom: 200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .heading-title {
    padding-bottom: 30px;
    padding-top: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 696px;
    max-height: 120px;
  }
  .hero {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .heading {
    background-image: url("../images/background/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2f303a;
    padding-bottom: 200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

.occupation {
  padding-top: 94px;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.heading-2 {
  margin-bottom: 94px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .aspects {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .aspects {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .featers-icon {
    margin-top: 60px;
    margin: 0 auto;
    max-width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }
  .aspects-icon {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 192px;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .aspect {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    max-width: 450px;
    margin: 0 auto;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .aspects {
    width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .featers-icon {
    margin-top: 60px;
    margin: 0 auto;
    min-width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }
  .aspects-icon {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 164px;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .aspect {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    margin: 0 auto;
    max-width: 354px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .aspect-item {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: -30px;
  }
  .aspect-list {
    max-width: 768px;
    flex: wrap;
    margin-top: 30px;
  }
  .aspect-list:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .aspects {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    align-items: center;
  }
  .featers-icon {
    margin-top: 60px;
    margin: 0 auto;
    min-width: 270px;
    padding-right: 15px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }
  .aspects-icon {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 102px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
  }
  .aspect {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    margin: 0 auto;
    max-width: 354px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .aspect-item {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: -30px;
  }
  .aspect-list {
    max-width: 294px;
    margin-top: 30px;
  }
  .aspect-list:not(:last-child) {
    margin-right: 30px;
  }
}

.aspect-heading {
  padding-top: 30px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .team-list {
    margin: 0 auto;
  }
  .heading-3 {
    text-align: center;
    padding-top: 94px;
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 33px;
    line-height: 0.84;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .heading-3 {
    text-align: center;
    padding-top: 94px;
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 33px;
    line-height: 0.84;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .heading-3 {
    text-align: center;
    padding-top: 94px;
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 33px;
    line-height: 0.84;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: 0 auto;
    display: flex;
  }
  .heading-3 {
    text-align: center;
    padding-top: 94px;
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 33px;
    line-height: 0.84;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.our-team {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .heading-clients {
    padding-left: 83px;
    padding-top: 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1,17;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .section-item {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .clents-list {
    margin-bottom: 15px;
  }
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .section-item {
    width: 738px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .clents-list {
    margin-bottom: 15px;
  }
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .section-item {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .clents-list {
    margin-bottom: 15px;
  }
  .clients {
    display: flex;
    margin-top: 50px;
    margin-bottom: 94px;
  }
  .heading-clients {
    padding-left: 83px;
    padding-top: 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1,17;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
  }
}

.clients-list {
  padding-right: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-list:hover {
  outline: none;
  border-color: #2196f3;
}

.clients-list:hover + .icon-logo {
  fill: #2196f3;
}

.icon-logo {
  width: 100px;
  padding-left: 62px;
  text-align: center;
  align-items: center;
}

.clients-item {
  padding-left: 30px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .footer-item {
    margin-left: 250px;
    display: flex;
  }
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer {
    width: 100%;
    padding-top: 94px;
    background-color: #2f303a;
  }
  .footer-list {
    text-align: center;
    width: 450px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .div-logo {
    text-align: center;
    margin: 0 auto;
    width: 450px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .heading-footer {
    padding-top: -178px;
    margin-left: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-item {
    margin-left: 250px;
    display: flex;
  }
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer {
    width: 100%;
    padding-top: 94px;
    background-color: #2f303a;
  }
  .footer-list {
    width: 450px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .footer-link {
    margin-left: -370px;
  }
  .div-logo {
    width: 768px;
    margin-left: -100px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .heading-footer {
    padding-top: -178px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-item {
    margin-left: 250px;
    display: flex;
  }
  .div-footer {
    margin-left: -470px;
  }
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer {
    width: 100%;
    padding-top: 94px;
    background-color: #2f303a;
  }
  .footer-list {
    width: 450px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .footer-link {
    margin-left: -470px;
  }
  .div-logo {
    width: 1200px;
    margin-left: 60px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .heading-footer {
    padding-top: -178px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .div-social {
    margin-left: -70px;
  }
}

@media screen and (min-width: 768px) {
  .div-social {
    margin-top: -134px;
    margin-left: 360px;
  }
  .div-social {
    margin-bottom: 94px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .div-social {
    margin-top: -134px;
    margin-left: 70px;
  }
  .div-social {
    margin-bottom: 94px;
    width: 1200px;
  }
}

.social {
  align-items: center;
  margin-right: 10px;
}

.social-list-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.icon-logo-1 {
  width: 20px;
  height: 20px;
}

.button-1 {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #000000;
  border: 1px solid #fff;
  padding: 6px 22px;
}

.button-1:hover,
.button-1:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.button-li {
  margin-right: 8px;
}

@media screen and (min-width: 480px) {
  .button-item {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .button-item {
    padding-top: 64px;
    margin-left: 317px;
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .button-item {
    padding-top: 64px;
    margin-left: 317px;
    display: flex;
  }
}

.team-list-content-wrapper {
  position: relative;
  overflow: hidden;
}

.team-list-link-wrapper:hover .overlay,
.team-list-link-wrapper:focus .overlay {
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px;
  width: 250px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1, 55;
  transform: translateY(100%);
  letter-spacing: 0.03em;
  transition: transform 250ms linear;
}

@media screen and (min-width: 480px) {
  .development {
    width: 480px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .development {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .development {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .footer-subscription {
    display: block;
    align-items: center;
    padding-top: 30px;
  }
  .input-footer {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .airplane {
    width: 24px;
    height: 24px;
  }
  .subscrition-btn {
    width: 450px;
    height: 50px;
    margin-left: 30px;
    align-items: center;
    margin-top: 10px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
  }
  .subscription {
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1,875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 29px;
    display: flex;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 13px;
    max-height: 50px;
  }
  .btn-subscripton {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border-radius: 5px;
    min-width: 200px;
    height: 50px;
    background-color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .footer-subscription {
    display: block;
    align-items: center;
    padding-top: 30px;
  }
  .input-footer {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .airplane {
    width: 24px;
    height: 24px;
  }
  .subscrition-btn {
    width: 450px;
    height: 50px;
    margin-left: 300px;
    align-items: center;
    margin-top: 10px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
  }
  .subscription {
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1,875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 29px;
    display: flex;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 13px;
    max-height: 50px;
  }
  .btn-subscripton {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border-radius: 5px;
    min-width: 200px;
    height: 50px;
    background-color: #2196F3;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription {
    margin-left: 615px;
    padding-bottom: 90px;
    width: 1200px;
    margin-top: -194px;
  }
  .input-footer {
    margin-right: 700px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .airplane {
    width: 24px;
    height: 24px;
  }
  .subscription {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1,875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 29px;
    display: flex;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 13px;
    max-height: 50px;
  }
  .btn-subscripton {
    border-radius: 5px;
    min-width: 200px;
    height: 50px;
    margin-top: -50px;
    background-color: #2196F3;
  }
  .subscrition-btn {
    width: 450px;
    height: 50px;
    margin-left: 30px;
    align-items: center;
    margin-top: 10px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
  }
}

@media screen and (min-width: 480px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 250ms linear;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 480px;
    background-color: #ffffff;
    padding: 40px;
  }
  .modal-form-check-desc {
    max-width: 346px;
  }
  .modal-close-svg {
    position: absolute;
    top: 2px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 250ms linear;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 588px;
    background-color: #ffffff;
    padding: 40px;
  }
  .modal-close-svg {
    position: absolute;
    top: 2px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 250ms linear;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 588px;
    background-color: #ffffff;
    padding: 40px;
  }
  .modal-close-svg {
    position: absolute;
    top: 2px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) {
  .modal-form-input {
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms linear;
  }
  .modal-form-input:focus {
    outline: none;
    border-color: #2196F3;
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-input {
    width: 488px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms linear;
  }
  .modal-form-input:focus {
    outline: none;
    border-color: #2196F3;
    fill: #2196f3;
  }
}

.modal-form-icon:focus {
  fill: #2196f3;
}

.modal-form-icon {
  position: absolute;
  display: flex;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms linear;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-field:focus-within {
  fill: #2196f3;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1,16;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 10px;
}

.modal-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1,15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .modal-form-message {
    width: 400px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms linear;
  }
  .modal-form-messageplaceholder {
    color: rgba(117, 117, 117, 0.5);
    text-transform: uppercase;
  }
  .modal-form-message:focus {
    outline: none;
    border-color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .modal-form-message {
    width: 415px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms linear;
  }
  .modal-form-messageplaceholder {
    color: rgba(117, 117, 117, 0.5);
    text-transform: uppercase;
  }
  .modal-form-message:focus {
    outline: none;
    border-color: #2196F3;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-message {
    width: 500px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms linear;
  }
  .modal-form-messageplaceholder {
    color: rgba(117, 117, 117, 0.5);
    text-transform: uppercase;
  }
  .modal-form-message:focus {
    outline: none;
    border-color: #2196F3;
  }
}

.modal-form-check-desc {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  align-items: center;
  margin-right: 8px;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url("../images/sprite/check-mark.svg");
  background-position: center;
  border-color: 4px solid #2196f3;
  cursor: pointer;
  background-color: #2196f3;
  border: none;
}

.modal-form-term:focus + .modal-form-check-desc::before {
  box-shadow: 0 0 0 2px #2196f3;
}

.contract {
  color: #2196F3;
}

.img-cards {
  flex-basis: calc(100% / 3 - 10px);
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cards-name {
  text-align: left;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.connection-link {
  margin-bottom: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: auto;
}

.connection-link-list {
  padding-top: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.connection-link-list-1 {
  padding-top: 9px;
  padding-bottom: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */