@media screen and (max-width:767px){
    
.aspects {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    text-align: center;
    align-items: center;
   }
   
   .aspects {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    text-align: center;
    align-items: center;
   }

      .featers-icon {
          margin-top:60px;
          margin:0 auto;
    max-width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
   }

   .aspects-icon {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 192px;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
   }

   .aspect {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
/* or 171% */

max-width:450px;
margin:0 auto;
letter-spacing: 0.03em;

color: #757575;
   }
}

@media screen and (min-width:768px){
    .aspects {
    width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    text-align: center;
    align-items: center;
   }

   .featers-icon {
    margin-top:60px;
    margin:0 auto;
min-width: 450px;
height: 120px;
border-radius: 4px;
background-color: #f5f4fa;
}

.aspects-icon {
padding-top: 25px;
padding-bottom: 25px;
padding-left: 164px;
text-align: center;
display: flex;
align-items: center;
box-sizing: border-box;
}

.aspect {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
/* or 171% */
margin:0 auto;
max-width:354px;
letter-spacing: 0.03em;

color: #757575;
}

   .aspect-item {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: -30px;
   }
   
   .aspect-list {
       max-width:768px;
       flex:wrap;
    margin-top: 30px;
   }
   
   .aspect-list:not(:last-child) {
    margin-right: 30px;
   }
}

@media screen and (min-width:1200px){
    .aspects {
        width: 1200px;
        padding-left: 15px;
        padding-right:15px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        align-items: center;
       }
    
       .featers-icon {
        margin-top:60px;
        margin:0 auto;
        min-width:270px;
        padding-right: 15px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    }
    
    .aspects-icon {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 102px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    }
    
    .aspect {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    margin:0 auto;
    max-width:354px;
    letter-spacing: 0.03em;
    
    color: #757575;
    }
    
       .aspect-item {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 94px;
        padding-bottom: 94px;
        margin-top: -30px;
       }
       
       .aspect-list {
           max-width:294px;
        margin-top: 30px;
       }
       
       .aspect-list:not(:last-child) {
        margin-right: 30px;
       }
}

// .aspects {
//     width: 100%;
//     margin: 0 auto;
//     padding-left: 15px;
//     padding-right: 15px;
//     display: flex;
//     text-align: center;
//     align-items: center;
//    }
   
   
   
//    .featers-icon {
//     width: 270px;
//     height: 120px;
//     border-radius: 4px;
//     background-color: #f5f4fa;
//    }
   
   
   
//    .aspect-item {
//     margin: 0 auto;
//     display: flex;
//     padding-left: 15px;
//     padding-right: 15px;
//     padding-top: 94px;
//     padding-bottom: 94px;
//     margin-top: -30px;
//    }
   
//    .aspect-list {
//     width: 1200px;
//     margin: 0 auto;
//     flex-basis: calc(100% / 4 - 30px);
//     margin-top: 30px;
//    }
   
//    .aspect-list:not(:last-child) {
//     margin-right: 30px;
//    }
   
//    .aspects {
//     width: 1200px;
//     margin: 0 auto;
//     text-align: center;
//     padding-right: 15px;
//     padding-left: 15px;
//    }
   
//    .aspect-item .aspects {
//     display: flex;
//     align-items: center;
//    }
   
   .aspect-heading {
    padding-top: 30px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
   }
   
 