@media screen and(max-width:767px){
.img-team{
  width: 450px;
  margin:0 auto;
}

.team{
  margin:0 auto;
  padding-top:30px;
}

  .name {
    text-align:center;
    padding-top: 30px;
    padding-left: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 1875;
    letter-spacing: 0.03em;
    color: #212121;
  }

    
  .work {
    text-align:center;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
.frontend{
  text-align:center;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
}

  .name-team {
    background-color: #ffffff;
    margin-right: 30px;
    margin-left: -30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }  
}

@media screen and(min-width:768px) {
  .img-team{
    width: 450px;
    margin:0 auto;
  }
  
  .team{
    margin:0 auto;
    padding-left:15px;
    padding-right:15px;
    padding-top:30px;
  }
  
    .name {
      text-align:center;
      padding-top: 30px;
      padding-left: 60px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1, 1875;
      letter-spacing: 0.03em;
      color: #212121;
    }
  
      
    .work {
      text-align:center;
      padding-top: 10px;
      padding-left: 70px;
      padding-bottom: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 0, 84;
      letter-spacing: 0.03em;
      color: #757575;
    }
    
  .frontend{
    text-align:center;
      padding-top: 10px;
      padding-left: 70px;
      padding-bottom: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 0, 84;
      letter-spacing: 0.03em;
      color: #757575;
  }
  
    .name-team {
      width:450px;
      background-color: #ffffff;
      margin-right: 30px;
      margin-left: -30px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }  
}

@media screen and(min-width:1200px){
  .img-team{
    width: 254px;
    margin:0 auto;
  }
  
  .team{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  
    .name {
      text-align:center;
      padding-top: 30px;
      padding-left: 60px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1, 1875;
      letter-spacing: 0.03em;
      color: #212121;
    }
  
      
    .work {
      text-align:center;
      padding-top: 10px;
      padding-left: 70px;
      padding-bottom: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 0, 84;
      letter-spacing: 0.03em;
      color: #757575;
    }
    
  .frontend{
    text-align:center;
      padding-top: 10px;
      padding-left: 70px;
      padding-bottom: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 0, 84;
      letter-spacing: 0.03em;
      color: #757575;
  }
  
    .name-team {
      width: 254px;
      background-color: #ffffff;
      margin-right: 30px;
      margin-left: -30px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }  
}
// .name {
//     padding-top: 30px;
//     padding-left: 60px;
//     font-family: "Roboto", sans-serif;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1, 1875;
//     letter-spacing: 0.03em;
//     color: #212121;
//   }
  
//   .work {
//     padding-top: 10px;
//     padding-left: 70px;
//     padding-bottom: 30px;
//     font-family: "Roboto", sans-serif;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 0, 84;
//     letter-spacing: 0.03em;
//     color: #757575;
//   }
  
//   .name-team {
//     background-color: #ffffff;
//     margin-right: 30px;
//     margin-left: -30px;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//   }  