.name {
    padding-top: 30px;
    padding-left: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 1875;
    letter-spacing: 0.03em;
    color: #212121;
  }
  
  .work {
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0, 84;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  .name-team {
    background-color: #ffffff;
    margin-right: 30px;
    margin-left: -30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }  